.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-inner {
        position: relative;
        width: 100%;
    }
}

.item {
    display: flex;
    outline: none;
    overflow: hidden;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }

    &-inner {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
}

.track {
    display: flex;
    min-width: min-content;
}
