.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-inner {
        position: relative;
        width: 100%;
    }
}

.item {
    display: flex;
    outline: none;

    &:hover {
        cursor: grab;
    }

    &:active {
        cursor: grabbing;
    }

    &-inner {
        display: flex;
        width: 100%;
    }

    img {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
}

.track {
    display: flex;
    min-width: min-content;
}
